body {
    margin: 0;
    font: 16px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    background: #fff;
}

#header {
    padding: 10px 0;
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

#header a {
    padding: 0 6px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#header a:hover {
    color: #4183c4;
}

.header-wrapper {
    width: 760px;
    height: 22px;
    margin: 0 auto;
}

.title {
    float: left;
}
    
.menu {
    float: right;
}

#content {
    width: 760px;
    margin: 0 auto;
}
