body {
    margin: 0;
    font: 16px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    background: #fff;
}

#header {
    padding: 10px 0;
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0px 0px 5px black;
}

#header a {
    padding: 3px 6px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#header a:hover {
    color: #4183c4;
}

#header .header-wrapper {
    width: 890px;
    height: 22px;
    margin: 0 auto;
}

#header .title {
    float: left;
	width: 350px;
}

#header .title a {
	float: left;
	padding-top: 0;
}

.tweet-button{
	float: left;
	padding: 1px 4px;
}
    
#header .menu {
    float: right;
}

#content {
    width: 890px;
    margin: 0 auto 40px;
}

#content a {
    color: #0066cc;
    text-decoration: none;
}

#content a:hover {
    text-decoration: underline;
}

#content img.explain {
    border: solid 1px;
    width: 50%;
}
