body {
    margin: 0;
    font: 16px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    background: #fff;
}

#header {
    padding: 10px 0;
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    box-shadow: 0px 0px 5px black;
}

#header a {
    padding: 3px 6px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#header a:hover {
    color: #4183c4;
}

.header-wrapper {
    width: 890px;
    height: 22px;
    margin: 0 auto;
}

.title {
    float: left;
}
    
.menu {
    float: right;
}

/* .menu a{ */
/*     border: solid 1px; */
/*     border-color: gray; */
/*     border-radius: 3px; */
/*     background-color: white; */
/*     box-shadow: 1px 1px 2px gray; */
/* } */

#content {
    width: 890px;
    margin: 0 auto;
}

td {
    text-align: center;
}
.music_title {
    text-align: left;
}